# Bootstrap
#app/bootstrap*

# Symfony directories
vendor/
*/logs/*
*/cache/*
test/*
web/uploads/documents/*
web/uploads/logos/*
web/uploads/models/*
!web/uploads/logos/0.png

# phpstorm
.idea/workspace.xml

*.php~

# Ignore all emacs backup files
*.md~
git rm README.md~

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
