<!DOCTYPE html>
<html>
<head>
    <title>dashboard dist</title>
</head>
<body>
    Taghandiky
<br>
    <hr>
<a href="{{ path('Staff') }}">Staff</a> |
<a href="{{ path('Profile') }}">Profile</a> <br/>
</body>
</html>