{% for acc in Account %}
    <p>Account Name:
    {{ acc.accName  }}</p>
{% endfor %}

{% for acc in Account %}
        <p>Account Balance:
        {{ acc.accBalance  }}</p>
{% endfor %}

<form action="{{ path('Retailer_edit',{'id':entity.id}) }}">
    {{ form_widget(edit_form) }}
    <button>Save</button>
</form>