{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailDist.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('retailer_show') }}">Retailer</a>
    <a class="link" href="#">Manage</a>
    <span class="link">Items</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>Items</h3>
    </div> <!-- /widget-header -->

{% endblock %}