parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     hellodi
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    ogone_pspid:        hellodi
    ogone_sha_in:       MySha-In@key765?
    ogone_sha_out:      MySha-ouT@Key79?
    ogone_submit_url:   https://secure.ogone.com/ncol/test/orderstandard_utf8.asp
    languages: [en, fr, de, it]
    currency: [CHF,USD]
    currencies: [CHF,USD]