parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: hellodi
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: in.mailjet.com
    mailer_user: 039ab8ef3e3bf82b932424e66c4260f4
    mailer_password: e0fa5a908911cc5bc1962c2432e2391f
    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt
    ogone_pspid: hellodi
    ogone_sha_in: 'MySha-In@key765?'
    ogone_sha_out: 'MySha-ouT@Key79?'
    ogone_submit_url: 'https://secure.ogone.com/ncol/test/orderstandard_utf8.asp'
    languages: [en, fr, de, it]
    B2BServer:
        WSDL: 'https://b2bapi.idt.net/b2bapi/b2bsvc.asmx?wsdl'
        UserName: hellobell
        Password: hellobell
        IP: 46.20.242.182
        StoreID: 309511
        ServiceNumber: 1179989351
    currencies.account: [CHF, USD, EUR]
    currencies.topup:   [CHF, USD, EUR, BDT, BOB, BRL, COP, DOP, NGN, PEN, PHP, PKR, PLN, RUB, XAF]
    VatFormula: "(x/(100+vat)*vat)"
