{% extends "HelloDiDiDistributorsBundle::Main0.html.twig" %}

{% block title %}
    Remind Passowrd
{% endblock title %}

{% block bodywidth %}login{% endblock %}

{% block header %}Remind Passowrd{% endblock %}

{% block fos_user_content %}





    <div class="login-fields">

        <div class="Login_error Comment"  style="padding-top: 0;margin-top: 0">
            <p style="font-size: 18px;line-height: 35px;text-align: center;" >
                {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
            </p>
        </div>


        <!-- /field -->


    </div>


    <!-- .actions -->



{% endblock %}


