<html>
<head>

</head>
<body>


<form action="{{ path('newogone') }}" method="post">

    {{ form_rest(form) }}
    {{ form_widget(form._token) }}

    <input type="submit" value="go">
</form>
</body>

</html>

