<html>
<head>
    <title>
        Ogone Test Page
    </title>
    <body>
    {#<form action="{{ path('ogonetest') }}" method="post">#}

        {#{{ form_widget(form) }}#}

        {#<button>Buy</button>#}

    {#</form>#}
    {{ test }}
    </body>
</head>
</html>