<html>
<head>
    <title>
        Ogone Test Page
    </title>
    <body>
    {#<form action="{{ path('ogonetest') }}" method="post">#}

        {#{{ form_widget(form) }}#}

        {#<button>Buy</button>#}

    {#</form>#}
<h1 class="H1">
asasassa
    <p class="asasa">asas</p>
    <p></p>
    <p></p>

</h1>
    <a href="{{ path('ShowMyAccountProv') }}">
        aboutme</a>
    <a class="1"></a>
    <a class="2"></a>
    <a class="3"></a>
    <h5 class="btn"></h5>
    </body>
</head>
</html>