<html>
<head>
</head>
<body>
Name: <b>{{ Name }}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Email: <b>{{ Email }}</b>
<hr>
Inquiry: <b>{{ Inquiry }}</b><br>
Question: <p>{{ Description }}</p>
</body>
</html>



