{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}

{% block title %}
    Home

{% endblock title %}

{% block PageTitle %}
    <i class="icon-home"></i>
    Home Page
{% endblock %}

{% set MU = 'home' %}

{% block Site_Map %}
    <span class="link">Home</span>
{% endblock Site_Map %}

{% block Body %}
    <div class="span">


        <div class="widget stacked">



            <div class="widget-content">

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->





    </div> <!-- /span6 -->
{% endblock Body %}