<!DOCTYPE html>
<html>
<head>
    <title>Shop Code</title>
</head>
<body>
<center>
<div class="tablediv">
    <div class="contenttitle">

        <h3>
            {% if codes[0].Item.itemType=='dmtu' %}
                <a href="{{ path('Retailer_Shop_dmtu') }}">return to shop</a><br>
            Mobile

            {% elseif codes[0].Item.itemType=='empt' %}
                <a href="#">return to shop</a><br>
            e-payment

            {% elseif codes[0].Item.itemType=='clcd' %}
                <a href="{{ path('Retailer_Shop_callingCard') }}">return to shop</a><br>
                calling card

             {% else %}
                <a href="{{ path('Retailer_Shop_favourite') }}">return to shop</a>
                     {% if codes[0].Item.itemType=='dmtu' %}

                     Mobile

                   {% elseif codes[0].Item.itemType=='empt' %}
                  e-payment

                  {% elseif codes[0].Item.itemType=='clcd' %}
                     calling card
                 {% endif %}

         {% endif %}
        </h3>
    </div>
    {% for code in codes %}

<div class="tab-content">


{%  if description is not null %}
    {{ include(template_from_string(description.descdesc),{"pin":code.pin, "serial":code.serialNumber}) }}
{% else %}

    SerialNumber:code.serialNumber<br><br>
    Code Secret:code.pin<br><br>


{% endif %}

    </div>
{% endfor %}
<center>
</body>
</html>