<!DOCTYPE html>
<html>
<head>
    <title>Shop Code</title>
</head>
<body>


{% set i=0 %}
{% for listcode in code %}
    {{ code[i].serialNumber }}<br>
    {% set i=i+1 %}

{% endfor %}


</body>
</html>