<!DOCTYPE html>
<html>
<head>
    <title>dashboard retailers</title>
</head>
<body>
    dashboard retailers
<a href="{{ path('RetailerStaff') }}">Staff</a>|<a href="{{ path('RetailerProfile') }}">Profile</a>
</body>
</html>