<!DOCTYPE html>
<html>
<head>
    <title>Is Favourite</title>
</head>
<body>
{% for favourite in listFavourite %}


    <form method="post" action="{{ path('Retailer_Shop_favourite_code') }}">
        {{ favourite.itemName }}
        <input type="hidden" name="favourite_id" value="{{ favourite.id }}">
        <button>Go</button>
    </form>
    {#<a href="{{ path('Retailer_Shop_favourite_code',{'id':favourite.id}) }}">Go</a><br>#}
{% endfor %}
</body>
</html>