



/* Tab
        -------------------------------------------------------- */
.tab-content{
    overflow: auto;
}


/* Table Filter
        -------------------------------------------------------- */

.form_search{
    margin-top: 20px;
}

.form_search h5{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    font-weight:bold ;
    margin-bottom: 0;
}


.form_search i{
    margin-right: 10px;
    display: inline-block;

}



.form_search{
    border-bottom: 2px solid rgb(251, 147, 55);
    margin-bottom: 10px;
}

.form_search h5 > span{
    transition:margin-left 0.3s;
    -webkit-transition:margin-left 0.3s; /* Safari */
}
.form_search h5 > span:hover{
    margin-left:5px;
    color: rgb(251, 147, 55);
}

.form_search h5 > span > p{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.form_search .SearchForm{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid rgb(221, 221,221);
    background: none repeat scroll 0% 0% rgb(252, 252, 252);
}

.form_search .SearchForm hr{
    margin: 0;
    margin-bottom: 10px;
    background-color: #fce6a3;
    border: none;
}
/* Table
        -------------------------------------------------------- */
.contenttitle h4{

}

.contenttitle{
    background: none repeat scroll 0% 0% rgb(50, 65, 90);
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    border-radius: 2px 2px 0px 0px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom:0 ;



    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(left top, circle farthest-corner, #F5FAFD 0%, #5EACE0 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(left top, circle farthest-corner, #F5FAFD 0%, #5EACE0 100%);

    /* Opera */
    background-image: -o-radial-gradient(left top, circle farthest-corner, #F5FAFD 0%, #5EACE0 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, left top, 0, left top, 1012, color-stop(0, #F5FAFD), color-stop(1, #5EACE0));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(left top, circle farthest-corner, #F5FAFD 0%, #5EACE0 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle farthest-corner at left top, #F5FAFD 0%, #5EACE0 100%);
}
.contenttitle h4{
    padding: 12px 10px;
    font-size: 14px;
    font-family: 'Karla',sans-serif;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin-bottom:-20px ;
    border-bottom: solid 2px rgb(221,221,221);
}

.tablediv{
    border:solid #c2e8ff thin ;

}

.tablediv form{
    margin:0;
    padding:0;
}

.tablediv table{
    width: 100%;
    background: none repeat scroll 0% 0% transparent;
    border: 0px none;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    line-height: 21px;
    margin-top: 0px;
    border-radius: 0px;
}

.tablediv table tr {
     width: 100%;
}



.tablediv table tr th{
    background-color: #edeef5;
    padding: 7px 10px;
    border-width: 1px 1px 1px 0px;
    border-style: solid solid solid none;
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    text-align: left;
}

.tablediv table tr th:first-child{
    border-left: 1px solid rgb(221, 221, 221);
}

.tablediv table tr td input{
    width: 90%;
    margin: 0;
    font-size: 10px;
    margin: 0 auto;
}

.tablediv table tr td input:disabled{
    display: none;
}

body .tablediv table.table tr td{
    background: #FFF;
    padding: 8px 10px;
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
}

body .tablediv table.table tbody > tr:nth-child(2n+1) > td{
    background-color: rgb(249, 249, 249);
}

body .tablediv table.table tr td:first-child{
    border-left: 1px solid rgb(221, 221, 221);
}

body .tablediv table.table tr td:last-child{
    border-right: 1px solid rgb(221, 221, 221);
}

.tablediv table.table tr td.td-actions > div{
    width: 100%;
    height: 100%;
    overflow: hidden;
}




.btn_actions ,.btn_actions:hover{
    text-decoration: none;
}

.btn_edit_action{
    text-decoration: none;
    background: none;
    font-weight: bold;
    color: rgb(50, 65, 90);
    border: none;
    transition:color 0.3s;
    -webkit-transition:color 0.3s; /* Safari */
}

.btn_edit_action:hover{
    color: rgb(251, 147, 55);
    text-decoration: none;

}

.favorite.unfav{
    color:rgb(249, 249, 249);
}

.favorite.fav{
    color:  #003399;
}

.favorite{
    font-size: 20px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    text-shadow: 0px 0px 1px  #003399;
    transition : font-size 0.2s ;
    -webkit-transition : font-size 0.2s ;
}

.favorite:hover,.favorite:focus{
    text-decoration: none;
}

.favorite:hover{

    font-size: 30px;
}

.tablediv table.table tr td.td-actions input ,.btn_actions{
    background: none;
    font-weight: bold;
    color: rgb(50, 65, 90);
    border: none;
    transition:padding-left 0.3s;
    -webkit-transition:padding-left 0.3s; /* Safari */

}
.tablediv table.table tr td.td-actions input:hover ,.btn_actions:hover{
    color: rgb(251, 147, 55);
    padding-left:10px ;
}

.tablediv table.table tr:last-child td{
    border-bottom: solid 2px rgb(220, 180, 220);
}


/* Paging */

.pagination > span {
    padding: 0;
    min-width: 20px;
    display: inline-block;

}

.pagination > span a{
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0;
    text-align: center;
    color:#333;
    text-align:center;
    text-shadow:0 1px 1px rgba(255,255,255,0.75);
    vertical-align:middle;
    cursor:pointer;




    font-weight: 600;
}

.pagination > span a.dis ,.pagination > span a.dis:hover ,.pagination > span a.dis:active{
    color: #CCC;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgb(179, 179, 179);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    background-position: 0;
    cursor: default;
}

.navigation{
    text-align: center;
}



.pagination > span a.current ,.pagination > span a.current:hover , .pagination > span a.current:active{
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(0, 109, 204);
    background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 68, 204));
    background-repeat: repeat-x;
    background-position: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    box-shadow: none;
    cursor: default;

}

.pagination > span a > span{
    display: inline;
}

.pagination > span a.btn > [class^="icon-"]{
    display: none;
}

/* Forms */

form input[type="text"]
{

}

form div.haveerror input[type="text"]
{
    border: solid thin #FF0000;
}

body .form-horizontal .control-group {
    margin-bottom: 10px;
}

form .control-group .controls > .controls{

    display: inline-block;
    margin-left: 20px;

}

form .control-group .controls.money > .controls{
    margin-left: 0px;
}

form .control-group .controls.money span{
    color: #ff0000;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
}

/* Tabs */

.main .container.Tab2{

    margin-top: 5px;
    padding-top: 5px;
    border-top: solid thin #003bb3;

}



.main .pagetop .tabbar{

    padding-top: 5px;
    padding-bottom: 5px;

    box-shadow: 0px 0px 10px #1b8ae0 inset;
    /*height: 41px;
    background: url('../img/my/123.png') repeat-x bottom;*/

    background: #50a5de;
}

.main .pagetop .hornav{

    list-style: none outside none;

    /*border-bottom: 1px solid #8fd0fa /*rgb(204, 204, 204)*/;
    margin-left: 0px;
    margin-bottom: 0;

    display: block;

}



.main .pagetop .hornav li{
    display: inline-block;
    float: left;
    margin-right: 5px;




}

.main .pagetop .hornav li a{
    text-decoration: none;

}

.main .pagetop .hornav li a span{

}

.main .pagetop .hornav li form{
    margin: 0;

}

.main .pagetop .hornav li a span{
    display: block;
    padding: 10px 20px;
    background: none repeat scroll 0% 0% rgb(103, 191, 248);
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;

    transition: background-color 0.3s ;
    -webkit-transition: background-color 0.3s ;



}

.main .pagetop .hornav li input[type="submit"]  {
    display: block;
    padding: 0px 10px;
    background: none repeat scroll 0% 0% rgb(103, 191, 248);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 14px;

    height: 35px;

    transition: background-color 0.3s ;
    -webkit-transition: background-color 0.3s ;

}

.main .pagetop .hornav li input[type="submit"] , .main .pagetop .hornav li a span{
    /* IE10 Consumer Preview */


    text-shadow: 1px 2px 0px #34739c;

    background: #116bad;


    border-top : solid 1px #50a5de;
    border-bottom : solid 1px #50a5de;
    border-right : solid 1px #50a5de;
    border-left : solid 1px #50a5de;




}

.main .pagetop .hornav li input[type="submit"]:hover , .main .pagetop .hornav li a span:hover{
    background: none repeat scroll 0% 0% #3593d1;
    border-color: #5ec0ff;


}

.main .pagetop .hornav li.active input[type="submit"]:hover , .main .pagetop .hornav li.active a span:hover{

}

.main .pagetop .hornav li.active input[type="submit"] , .main .pagetop .hornav li.active a span{
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    color:#fb9337;
    font-weight: bold;
    color : #0058cc ;
    text-shadow: none;


}

.main .control-group ul li{
    color: #FF0000;
    font-size: 14px;
}

/* DataTable
        ------------------------------------------------------------------ */
.datatable .control-group select{
    width: 100px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 0px;
}

.datatable .control-group label{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    text-shadow: 0px 1px 0px #FFF;

}

.datatable .control-group{
    margin: 0;
    padding: 5px;
    padding-bottom: 0px;
}

.datatable .control-group input{
    margin-left: 10px;
    width: 140px;
    margin-top: 5px;
    border-radius: 0px;
}

.datatable > div > div > div{
    padding: 0;
}

.datatable > div > div:first-child{

    border-bottom:solid #c2e8ff 2px ;
/*
    background: -moz-linear-gradient(top, #f5fafd 0%, #4fa4dd 100%);  FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5fafd), color-stop(100%,#4fa4dd)); /* Chrome,Safari4+
    background: -webkit-linear-gradient(top, #f5fafd 0%,#4fa4dd 100%); /* Chrome10+,Safari5.1+
    background: -o-linear-gradient(top, #f5fafd 0%,#4fa4dd 100%); /* Opera 11.10+
    background: -ms-linear-gradient(top, #f5fafd 0%,#4fa4dd 100%); /* IE10+
    background: linear-gradient(to bottom, #f5fafd 0%,#4fa4dd 100%); /* W3C
*/

    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(left top, circle farthest-corner, #F5FAFD 0%, #5EACE0 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(left top, circle farthest-corner, #F5FAFD 0%, #5EACE0 100%);

    /* Opera */
    background-image: -o-radial-gradient(left top, circle farthest-corner, #F5FAFD 0%, #5EACE0 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, left top, 0, left top, 1012, color-stop(0, #F5FAFD), color-stop(1, #5EACE0));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(left top, circle farthest-corner, #F5FAFD 0%, #5EACE0 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle farthest-corner at left top, #F5FAFD 0%, #5EACE0 100%);
}

.datatable > div > div:last-child{
    background:#FFF;
    border-bottom: solid thin #c2e8ff;

:
    /*
    background: -moz-linear-gradient(top, #b5dff6 0%, #4fa4dd 100%); /* FF3.6+
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,b5dff6), color-stop(100%,#4fa4dd)); /* Chrome,Safari4+
        background: -webkit-linear-gradient(top, #b5dff6 0%,#4fa4dd 100%); /* Chrome10+,Safari5.1+
        background: -o-linear-gradient(top, #b5dff6 0%,#4fa4dd 100%); /* Opera 11.10+
        background: -ms-linear-gradient(top, #b5dff6 0%,#4fa4dd 100%); /* IE10+
        background: linear-gradient(to bottom, #b5dff6 0%,#4fa4dd 100%); /* W3C */
}

.datatable > div > div:first-child , .datatable > div > div:last-child{
    height:50px;
    margin: 0px;
    /*background: none repeat scroll 0% 0% rgb(50, 65, 90);*/
    color: rgb(51, 51, 51);

}

.datatable > div > div{

}

.datatable > div > div > div{
    display: inline-block;
    height: 50px;

}

.datatable > div > div > div:first-child{
    float: left;

}

.datatable table{
    overflow: auto;
}

.datatable table th {
    cursor: pointer;
}

.datatable > div > div > div:last-child{
    /*float: right;*/
    display: none;
 }

.datatable > div > div:last-child > div > div{
    margin: 10px;
    font-weight: bold;

    color: rgb(51, 51, 51);
    text-shadow: 0px 1px 1px #FFF;
}

/* Paging */
.datatable > div > div:last-child > div:last-child > div  a {
    padding: 2px 6px;
    margin: 0px;
    cursor: pointer;
    margin-right: -0.1em !important;
    border: 1px solid #549ccd;
    background: #ded9ee;
    font-weight: normal;
    color: rgb(85, 85, 85);
    outline: medium none;

    transition: background 0.3s , color 0.3s;
    -webkit-transition: background 0.3s, color 0.3s; /* Safari */


}

.datatable > div > div:last-child > div:last-child > div  a:hover , .datatable > div > div:last-child > div:last-child > div  a.paginate_active:hover {
    text-decoration: underline;
    background-color: #FFF;
    color: #000;
}

.datatable > div > div:last-child > div:last-child > div  a.paginate_active {
    background:#1983ca;
    color: #FFF;
}

.datatable > div > div:last-child > div:last-child > div  a.paginate_button_disabled {
    color: #35275f;
    background: #b2dbf6;
    cursor: default;
    text-decoration: none;
}

.datatable table{
    display:table;
    overflow: auto;
}

.datatable table .sorting_desc {
    background: url("../img/sort/sort_desc.png") no-repeat scroll right center transparent;
}

.datatable table .sorting {
    background: url("../img/sort/sort_both.png") no-repeat scroll right center transparent;
}

.datatable table .sorting_asc {
    background: url("../img/sort/sort_asc.png") no-repeat scroll right center transparent;
}

/* Item Show */


.list_items{
    display: block;
    min-height: 150px;
    border-top: solid thin #70baee;
    padding-top: 10px;

    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #dfeffa 0%, #FFFFFF 70%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #dfeffa 0%, #FFFFFF 70%);

    /* Opera */
    background-image: -o-radial-gradient(center top, ellipse farthest-corner, #dfeffa 0%, #FFFFFF 70%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #dfeffa), color-stop(0.7, #FFFFFF));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #dfeffa 0%, #FFFFFF 70%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(ellipse farthest-corner at center top, #dfeffa 0%, #FFFFFF 70%);
}

.item_show{
    display: block;
    width: 200px;
    height: 128px;
    background:#FFF;
    position: absolute;
    box-shadow: 0px 0px 3px #cfd7dc;
    transition : width 0.3s , height 0.3s , margin-left 0.3s , margin-right 0.3s;
    -webkit-transition : width 0.3s , height 0.3s , margin-left 0.3s , margin-right 0.3s;
    z-index: 1000;

    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #86C6EC 0%, #3986CE 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #86C6EC 0%, #3986CE 100%);

    /* Opera */
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #86C6EC 0%, #3986CE 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #86C6EC), color-stop(1, #3986CE));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #86C6EC 0%, #3986CE 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #86C6EC 0%, #3986CE 100%);

    background-position: 125px 55px;
    background-repeat:no-repeat ;
    background-size: 70px 70px;
    background-clip: padding-box;

    background-color: #0c4e79;
}

.item_show:hover{
    z-index: 1100;

    background-size: 50px 50px;
    background-position: 165px 85px;
}

.itemulshow{
    margin-left: 0px ;

}

.itemulshow li{
    display: none;
    opacity: 0;
    list-style: none;
    float: left;
    padding: 5px;
    padding-right: 15px;
    width: 200px;

    height: 130px;
}

.itemulshow li a{

    text-decoration: none;
    cursor: pointer;
}

.itemulshow li a:hover{
    text-decoration: none;
}

.itemulshow li a:hover .item_show{
    width: 220px;
    height: 140px;
    margin-left: -10px;
    margin-top: -6px;

}

.itemulshow li a:hover .item_show .header{

}

.itemulshow li a:hover .item_show .body .price{
    font-size: 45px;
    margin-top: 0px;
    padding-left: 10px;
}

.itemulshow li a:hover .item_show .body .type{
    font-size: 25px;
    margin-top: 60px;
    margin-left: 70px;

    transition : margin-left 0.3s , font-size 0.3s ;
    -webkit-transition : margin-left 0.3s , font-size 0.3s ;
}

body .accordion-heading > a.collapsed{
    font-weight: normal;
    text-shadow: none;
    background: #59a0da;
}

body .accordion-heading:first-child > a{
    margin-top: 0px;
}

body .accordion-heading > a{
    margin-top: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 1px 2px #04365e;
    color: #FFF;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(right, #FFFFFF 0%, #0368bb 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(right, #FFFFFF 0%, #0368bb 100%);

    /* Opera */
    background-image: -o-linear-gradient(right, #FFFFFF 0%, #0368bb 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(1, #0368bb));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #0368bb 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to left, #FFFFFF 0%, #0368bb 100%);

    transition : font-size 0.3s , padding-top 0.3s , padding-bottom 0.3s ;
    -webkit-transition : font-size 0.3s , padding-top 0.3s , padding-bottom 0.3s ;
}

body .accordion-heading > a:hover{


    font-size : 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.item_show .header {
    text-align: left;
    font-size: 20px;
    height: 27px;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    padding-left: 10px;

}

.item_show .body{
    display: block;
    height: 90px;
}

.item_show .body .price{


    display: inline-block;
    padding-left: 10px;
    font-size: 30px;
    padding-top: 20px;
    position: absolute;
    color: #6fb9ed;
}

.item_show .body .type{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
    color: #6fb9ed;
    margin-top: 50px;
    padding-left: 10px;
}


/* filter items */

.filter_Div{
    display: block;
    width: 100%;
    min-height: 40px;
    margin-bottom: 5px;
}




.filter_item{
    list-style: none;
    display: block;




}

.filter_item div{
    margin: 5px;
    display: inline-block;
    margin-right: 10px;
    padding: 8px;
    cursor: pointer;
    color: #5d88d4;
    border-radius: 5px;

    font-size: 17px;
}

body .filter_item div.active{
    background: #0088cc;
    color: #FFFFFF;
}

.filter_item div:hover{
    background: #eeeeee;
    color: #2c5580;
}


.sort_item{
    list-style: none;
    display: block;
    margin: 5px;

}

.sort_item div{
    display: inline-block;
    margin-right: 10px;
    padding: 8px;
    cursor: pointer;
    color: #5d88d4;
    border-radius: 5px;

    font-size: 17px;
}

body .sort_item div.active{
    background: #78bae7;
    color: #FFFFFF;
}

.sort_item li:hover{
    background: #eeeeee;
    color: #2c5580;
}


/* Ticket */

body .main .container.Ticket{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border-bottom: solid thin #f1f8fc;
}

body .main .container.Ticket.Lock{
    border: thin solid rgb(204, 204, 204);
}

body .main .container.Ticket:hover ,body .main .container.Ticket:active{
    background: #f1f8fc;
}

.Ticket .head{
    min-height: 50px;
    padding-bottom: 10px;
}

.Ticket .head .header{
    display: inline-block;
    float: left;
}

.Ticket .head .header h1{
    margin: 0px;
    font-size: 25px;
    display: block;
    padding: 5px;
    padding-left: 20px;
    padding-top: 5px;
    color: #0e4668;
}



.Ticket .head .items{
    display: inline-block;
    float: right;
    padding: 5px 15px 5px 5px;
}

.Ticket .head .items span.count{
    margin: 5px;
    display: inline-block;
    padding: 5px;
    background: #094871;
    color: rgb(255, 255, 255);
    min-width: 15px;
    text-align: center;
}

.Ticket .head .items span.new{
    margin: 5px;
    display: inline-block;
    padding: 5px;
    background: #65e8d1;
    color: rgb(255, 255, 255);
    min-width: 15px;
    text-align: center;
}

.Ticket .head .items b{
    padding: 5px;
}

.Ticket .footer{
    height: 30px;
    display: block;
    margin: 0px;
    padding:0px;
    background: none;
    border: none;
    font-size: 15px;
    color: #2471a0;
    font-family: 'Karla', sans-serif;
}

.Ticket:hover .footer , .Ticket:active .footer{

}


.Ticket .footer .contact{
    display: inline-block;
    float: left;
    padding: 5px;
    padding-left: 20px;
    padding-top: 0px;
}

.Ticket .footer .detail{
    display: inline-block;
    float: right;
    padding: 5px;
    padding-right: 20px;
    padding-top: 0px;
}

.Ticket .footer .detail span{
    display: inline-block;
}


.Ticket .controler{
    border-top: solid #FFF thin;
    height:0px;
    overflow: hidden;
    color: #224272;
    transition : padding 0.2s , height 0.2s ;
    -webkit-transition : padding 0.2s , height 0.2s ;
    font-family: 'Karla', sans-serif;

}

.Ticket:hover .controler , .Ticket:active .controler{

    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: auto;
}

.Ticket .controler a{
    font-size: 15px;
    transition : font-size 0.15s ;
    -webkit-transition : font-size 0.15s ;
    color: #224272;
    font-weight: bold;
}

.Ticket .controler a:hover , .Ticket .controler a:active{
    text-decoration: none;
    font-size: 17px;
}

.Ticket .controler div{
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    border-left:solid thin #FFFFFF;
}


/* ------------- Show Details -------------- */

.tablediv table.table tr td.td-actions div.ShowDetailPopUp {
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 1000000;
    background: #ffffff;
    height: auto;
    width: auto;
    max-height: 90%;
    max-width: 90%;
    border: solid thin #000100;
    top: 15%;
    right: 35%;
}

.tablediv table.table tr td.td-actions div.ShowDetailPopUp.ShowLoader {
    background: url("../img/ajax-loader.gif") no-repeat center center;
    background-size: 40px 40px;
    min-width: 50px;
    min-height: 50px;

}

.tablediv table.table tr td.td-actions div.ShowDetailPopUp input:disabled {
    display: block;
}

.showDetails span{
    display: none;
}


/* Ticket Note */
.TicketDetail{
    list-style: none;
    margin: 0;
    border-bottom: solid 2px #b1b2e1;
}

.TicketDetail li{
    width: 40%;
    display: inline-block;
    padding:5px;
    margin-right: 20px;

}

.TicketDetail li:last-child{

}

.TicketDetail li span{
    padding: 2px;
    width: 130px;
    display: inline-block;

    font-weight: bold;
}

.TicketDetail li a:link{
    cursor: pointer;
}

.TicketDetail li a{
    color: #000000;
    /*font-weight: bold;*/
    text-decoration: none;
    cursor: default;
}

.TicketDetail li a.btn{
    color: #fcf2ff;

}


.Note{
    padding: 7px;
    width: 70%;
    display: inline-block;
    margin-top: 20px;
    border: dashed 2px #9fa0d2;
    color: #000240;
    float: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.Note.Me{
    float: left;
    background: none;
    border: dashed  1px #cbcbcb;
}

.Note > div:first-child{
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    border-bottom: solid thin #9fa0d2;
}

.Note > div:first-child > span:last-child{
    float: right;

}


.Note > div:last-child{
    padding: 5px;
    padding-left: 10px;
    color: #000000;
}

.FormShow{


    padding-top: 5px;
    border-left: solid 2px #b1b2e1;
    border-right: solid 2px #b1b2e1;
    border-bottom: solid 2px #b1b2e1;
   display: none;
}

.FormShow form{
    margin: 0;
    margin-top: 20px;

}

.FormShow textarea{
    max-width: 90%;
    max-height: 200px;
}

.form-horizontal .form-actions.form_action1{
    padding-top: 5px;
    padding-bottom: 10px;

    border-top: solid thin #c7c8e7 ;
    margin-bottom: 0;
}