
body .navbar .navbar-inner {
    background:#FFF;
    border-bottom: #006fa1 solid thin;
    box-shadow: 0px 0px 3px #006fa1;
}

body .navbar{
    position: absolute;
}

body{

 background: url('../img/summer-sky-1.jpeg');
}

.dist{
    position: absolute;
    top: 30%;
    width: 35%;
    right: 20px;
    height: 250px;
    padding: 5px;
    background: url('../img/grandstream_gxv3140_3.png') no-repeat top right;
    background-size: contain;
    font-size:40px;
    font-weight: bold;
}

.content_home
{
    width: auto;
    height:250px;
    padding-top: 150px;
    margin-bottom: auto;
    color:#FFF
}

.content_home h1{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    font-size: 30px;
    display: block;
    position: static;
    color: #006fa1;
}

.content_home h2{
    text-align: center;
    font-size: 136px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    height: 80px;
    display: block;
    position: static;
    margin-top: 50px;
    text-shadow: 0px 1px 0px #006fa1;
}

.content_home h3{
    text-align: right;
    font-size: 20px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 0px 1px 0px #006fa1;
}

.navbar-inner .container .nav-collapse, .nav-collapse.collapse {
    display: block;
}

@media only screen and (min-width: 991px) and (max-width: 1200px)
{

    .content_home
    {
        padding-top: 150px;
    }

    .content_home h1{
        width: 500px;
        font-size: 30px;
    }

    .content_home h2{
        width: 500px;
        height: 80px;
        font-size: 100px;
        margin-top: 50px;
    }

    .content_home h3{
        width: 500px;
    }

    .navbar-inner .container .nav-collapse, .nav-collapse.collapse {
        display: block;
        height: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .content_home
    {
        padding-top: 150px;
    }

    .content_home h1{
        width: 500px;
        font-size: 30px;
    }

    .content_home h2{
        width: 500px;
        height: 80px;
        font-size: 100px;
        margin-top: 50px;
    }

    .content_home h3{
        width: 500px;
    }

    .navbar-inner .container .nav-collapse, .nav-collapse.collapse {
        display: block;
        height: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .content_home
    {
        margin-top: 50px;
    }

    .content_home h1{
        width: 250px;
        font-size: 20px;
    }

    .content_home h2{
        width: 250px;
        height: 40px;
        font-size: 60px;
        margin-top: 0px;
    }

    .content_home h3{
        width: 250px;
    }


    .navbar-inner .container .nav-collapse, .nav-collapse.collapse {
        display: block;
        height: 40px;
    }
}

@media  /* iPhone Reitana */
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

}