body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    background: #458ece;
}

.BG{
    position: fixed;
    height: 120%;
    width: 100%;
    z-index: 0;
    display: block;

    margin-top: -100px;
    padding: 0;
    margin: 0;


   /* *//* IE10 Consumer Preview *//*
    background-image: -ms-linear-gradient(top, #0160BA 0%, #C1E2F3 100%);

    *//* Mozilla Firefox *//*
    background-image: -moz-linear-gradient(top, #0160BA 0%, #C1E2F3 100%);

    *//* Opera *//*
    background-image: -o-linear-gradient(top, #0160BA 0%, #C1E2F3 100%);

    *//* Webkit (Safari/Chrome 10) *//*
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(, #0160BA), color-stop(1, #C1E2F3));

    *//* Webkit (Chrome 11+) *//*
    background-image: -webkit-linear-gradient(top, #0160BA 0%, #C1E2F3 100%);

    *//* W3C Markup, IE10 Release Preview *//*
    background-image: linear-gradient(to bottom, #0160BA 0%, #C1E2F3 100%);*/
}


.account-container.stacked{
    display: block;
    padding: 0px;

}


body .navbar .navbar-inner{
    background-color: #ffffff;
    z-index: 1000;
}

.body_main{
    margin: 70px auto 0 auto;
    background: #FFFFFF;
    padding-bottom: 0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px #2c45c4;
    border: solid thin #001686;
}

.body_main.login{
    width: 500px;
}

.body_main.Result{
    width:700px;
}

.login-fields.Result span{
    display: block;
    text-align: center;
}

.login-fields.Result span:first-child{
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: solid thin #cccccc;
    margin-bottom: 20px;
}

.login-fields.Result span:last-child{
    font-size: 30px;
    padding-bottom: 25px;
    border-bottom: solid thin #cccccc;

}

.login-actions.Result{
    text-align: center;
    margin-bottom: 0;
}
.login-actions.Result a.btn{
    margin: 0 auto;
    margin-bottom: 0;
}


.body_main h1{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 38.5px;
    color: #311b83;
    background: #f9f9f9;
    display: block;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    border-bottom:solid thin #e3e3e4;
}

.body_main > div{
    padding: 15px;
    padding-bottom: 0
}

.field{
    min-width: 100px;
    display: inline-block;
    background: #fff5fd;
    margin-bottom: 5px;
    padding: 0;
    opacity: 0.5;
    transition : opacity 0.2s ;
    -webkit-transition : opacity 0.2s ;
    border:solid thin #e3e3e4;
}

.field:hover{
    opacity: 1;
}

.field.Peyment label{
    width: 300px;
}

.field label{
    display: inline-block;
    width: 100px;
    font-size: 17px;
    margin: 0;
    margin: 10px;
    font-family: sans-serif;
}

.field.Peyment input{
    width: 450px;
}

.field input{
    display: inline-block;
    margin: 0;
    border: none;
    border-radius: 0px;
    font-size: 17px;
    font-family: sans-serif;
    height: 30px;
    margin-top: -5px;
    border:solid thin #f9eaea ;
    box-shadow: none;
    width: 325px;
    margin: 2px;

}

.field input:active , .field input:focus{
    box-shadow: none;
    border-color:#b6b6b6 ;
}

/*Login Action*/

.login-actions {
    height: 60px;
    width: 100%;
    margin-top: -1em;
    margin-bottom: 5px;
    float: left;
    margin-top: 15px;
}

.login-actions input[type="submit"]
{
    float: right;
}

span.login-checkbox {

    float: left;
}

span.login-checkbox > input[type="checkbox"] {
    opacity: 0;

    width: 15px;
    line-height: normal;
    vertical-align: middle;
    margin: 0;
    padding: 0;

}

span.login-checkbox > input[type="checkbox"] + label {

    clear: none;
    height: 15px;
    display: block;
    padding: 0px 0px 0px 22px;
    margin: 0px;
    font-size: 15px;
    line-height: 1.2em;
    cursor: pointer;
    background: url("../img/signin/check.png") no-repeat scroll 0px 0px transparent;
}

span.login-checkbox > input[type="checkbox"]:checked + label {
    background-position: 0px -15px;
}


.Login_error.Comment{
    font-family: sans-serif;
    font-size: 20px;
    color: #000000;
}
4
.login_error.Comment b{
    color: #161654;
}