{% extends "HelloDiDiDistributorsBundle::Main0.html.twig" %}

{% block title %}
    Validate
{% endblock title %}

{% block bodywidth %}login{% endblock %}

{% block header %}Validate{% endblock %}

{% block fos_user_content %}





        <div class="login-fields">

            <div class="Login_error Comment" >
                are you sure for payment
                <b style="color: #000100" >{{ ogonePayment.paymentAmount }}</b> ?
            </div>


            <!-- /field -->


        </div>

        <div class="login-actions">

				<span class="login-checkbox">

				</span>
            {{ form | raw }}
        </div>
        <!-- .actions -->



{% endblock %}
