<html>
<head>
<style type="text/css">
    td.ncoltxtl2 {background-color : #ffffcc; color : black; text-align : right; font-weight : bold}
    td.ncoltxtr {background-color : #ffffcc; color : black; text-align : left; font-weight : bold}
    td.ncoltxtc {background-color : #ffffcc; color : black; text-align : center; font-weight : bold}
    td.ncolinput {background-color : #ffffcc; color : black}
    td.ncolline1 {background-color : #ffffff; color : black}
    td.ncolline2 {background-color : #ffffcc; color : black}
    input.ncol {background-color : #006600; color : white}
    td.ncollogoc {background-color : #ffffcc; color : black; text-align : center; font-weight : bold}
    table.ncoltable1 { background-color: #ffffcc;   }
    table.ncoltable2 { background-color: #ffffcc;  border-width : medium; border-color : green; }
    table.ncoltable3 { background-color: #ffffcc;   }
    -->
</style>

</head>
<body>
$$$PAYMENT ZONE$$$
</body>

</html>

