
<h1>This Page is a templete static!</h1>
{#<html>#}
{#<head>#}

{#</head>#}
{#<body>#}

{#<h1>Epayment_New</h1>#}
{#<form action="{{ path('hellodi_transactions_new') }}" method="post">#}

    {#{{ form_rest(form) }}#}
    {#{{ form_widget(form._token) }}#}

    {#<input type="submit" value="go">#}
{#</form>#}
{#</body>#}

{#</html>#}

