
Validate
<html>
<head>

</head>
<body>


<form action="#" method="post">
{#{{ form }}#}
    {{ form_rest(form) }}
    {{ form_widget(form._token) }}

    <input type="submit" value="go">
</form>
</body>

</html>

