{% extends "HelloDiCoreBundle::Main0.html.twig" %}

{% block title %}Change Password{% endblock title %}

{% block bodywidth %}login{% endblock %}

{% block header %}Change Password{% endblock %}

{% block fos_user_content %}
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <div>
            <input class="button btn btn-primary btn-large" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
{% endblock fos_user_content %}
