----
<div class="controls money">
    {{ form_widget(form2step.entName, { 'attr' : { 'placeholder': 'Your Entity Name'} }) }} <span class="icon-certificate" ></span>
</div>
---

{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}


<tr class="input" >
    <td><input type="text" name="search_Id" value="Search Id" class="search_init" /></td>
    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
    <td><input type="text" name="search_Name" value="Search Name" class="search_init" /></td>
    <td><input type="text" name="search_Balance" value="Search Balance" class="search_init" /></td>
    <td><input type="text" name="search_Entity_Name" value="Search Entity Name" class="search_init" /></td>
</tr>

-------