{% extends "HelloDiDiDistributorsBundle::Main0.html.twig" %}

{% block title %}
    Validate
{% endblock title %}

{% block body %}




    <h1>Validate</h1>

    <div class="login-fields">




        <!-- /field -->


    </div>





{% endblock %}


$$$PAYMENT ZONE$$$
