<html>
<head>

</head>
<body>

<h1>Epayment_New</h1>
<form action="
{% if is_granted('ROLE_RETAILER_ADMIN') %}
{{ path('retailer_transactions_new') }}
{% else %}
{{ path('distributor_transactions_new') }}
{% endif %}
" method="post">

    {{ form_rest(form) }}
    {{ form_widget(form._token) }}

    <input type="submit" value="Next">
</form>
</body>

</html>

