<div class="tablediv">

    <div class="contenttitle">
        <h4>History</h4>
    </div>
    <form>
        <div class="tab-content">
            <table style="margin-top: 20px"
                   class="table table-bordered table-striped table-highlight postsend">
                <thead>

                <tr>



                    <th>{{ 'User' | trans ({}, "account") }}</th>
                    <th>{{ 'Item Name' | trans ({}, "account") }}</th>

                </tr>
                </thead>
                <tbody>
                <tr>



                    <td> {{ tran.User.username }} </td>


                    <td>
                        {% if tran.Code is not null  %}
                            {{ tran.Code.Item.itemName }}
                        {% else %}
                            not have code
                        {% endif %}
                    </td>


                </tr>

                </tbody>
            </table>
        </div>
    </form>
</div>